<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- arguments -->
    <arg name="x" default="0.0"/>
    <arg name="gui" default="true"/>
    <arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>

    <!-- include world file -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- parameters -->
    <param name="robot_description" command="$(find xacro)/xacro
                                            '$(find robot_sim_cpp)/models/Inverted_pendulum/Inverted_pendulum.xacro'"/>

    <!-- spawn model -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -param robot_description -model inverted_pendulum -x $(arg x)"/>

    <!-- run controller -->
    <node name="inverted_pendulum_LQR_node" pkg="robot_sim_cpp" type="inverted_pendulum_LQR_node" output="screen"/>    
</launch>