<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- arguments -->
    <arg name="cart_mass" default="0.5"/>
    <arg name="pendulum_mass" default="0.2"/>
    <arg name="friction_coefficient" default="0.1"/>
    <arg name="cart_pendulum_center_distance" default="0.3"/>
    <arg name="mass_moment_inertia" default="0.006"/>

    <arg name="x" default="1.0"/>
    <arg name="gui" default="true"/>
    <arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>

    <!-- include world file -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- parameters -->
    <param name="robot_description" command="$(find xacro)/xacro
                                            '$(find robot_sim_cpp)/models/Inverted_pendulum/Inverted_pendulum.xacro'
                                            cart_mass:=$(arg cart_mass) pendulum_mass:=$(arg pendulum_mass)
                                            friction_coefficient:=$(arg friction_coefficient)
                                            length_to_COM:=$(arg cart_pendulum_center_distance)
                                            pendulum_mass_moment:=$(arg mass_moment_inertia)"/>

    <!-- spawn model -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen"
            args="-urdf -param robot_description -model inverted_pendulum -x $(arg x)"/>

    <!-- run controller -->
    <node name="inverted_pendulum_LQR_node" pkg="robot_sim_cpp" type="inverted_pendulum_LQR_node" respawn="false" output="screen">
        <param name="inverted_pendulum_LQR/cart_mass" type="double" value="$(arg cart_mass)"/>
        <param name="inverted_pendulum_LQR/pendulum_mass" type="double" value="$(arg pendulum_mass)"/>
        <param name="inverted_pendulum_LQR/friction_coefficient" type="double" value="$(arg friction_coefficient)"/>
        <param name="inverted_pendulum_LQR/cart_pendulum_center_distance" type="double"
                value="$(arg cart_pendulum_center_distance)"/>
        <param name="inverted_pendulum_LQR/mass_moment_inertia" type="double" value="$(arg mass_moment_inertia)"/>
    </node>
</launch>